<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        
    </appSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="customTcpBinding">
                    <security mode="Transport">
                        
                    </security>
                    
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint
                    address =
                    "net.tcp://localhost:808/Service/netTcp"
                    binding ="netTcpBinding"
                    name ="localServiceEndpointTcp"
                    contract ="RandomNumberCore.IService" />
            <endpoint
                address =
                "https://localhost:7151/Service.svc"
                binding ="basicHttpsBinding"
                name ="localServiceEndpointHttps"
                contract ="RandomNumberCore.IService" />
            
            </client>
    </system.serviceModel>
</configuration>